body {
    overflow-x: hidden;
}

button,
#display-input {
    box-shadow: grey 0px 5px 5px;
}

.calculator-section {
    z-index: calc(-1);
    background-image: url(images/math-bg.jpg);
    background-size: contain;
    background-attachment: fixed;
}

/* Navigation Bar */
.calculator,
.menue {

    background-color: #ecf0f1;
    box-shadow: gray 0px 5px 7px;

}

.nav-list-item:active {

    color: white !important;
    animation: gradient 100ms linear;
}

.nav-list-item:hover {
    background-color: whitesmoke;

}

.navbar a {
    font-size: larger;

}

.calculator {
    max-width: 45vh;
}

/* Input feild */

#display-input {
    /* pointer-events: none; */
    text-align: end !important;
    font-size: medium;
    pointer-events: none;
}

/* Action buttons */
.btn-success {
    font-weight: 700 !important;
}

/* ACTIVE Button Animation*/
@keyframes gradient {
    0% {
        background: radial-gradient(circle at center, rgb(3, 23, 53) 0%, #fff 0%, #fff 100%);
    }

    25% {
        background: radial-gradient(circle at center, rgb(12, 54, 117) 24%, #fff 25%, #fff 100%);
    }

    50% {
        background: radial-gradient(circle at center, rgb(36, 111, 222) 49%, #fff 50%, #fff 100%);
    }

    75% {
        background: radial-gradient(circle at center, rgb(89, 155, 255) 74%, #fff 75%, #fff 100%);
    }

    100% {
        color: #fff;
        background: radial-gradient(circle at center, #0d6efd 99%, #fff 100%, #fff 100%);
    }
}